*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
   background-color: rgb(203, 254, 250);
}
.home-page-title{
    text-transform: uppercase;
    letter-spacing: 5;
    font-weight:550;
    text-shadow: 2px 2px 10px rgb(115, 115, 115);
    margin: 30px 0;
    font-size:40px;
}
.home-page{
    display: flex;
    place-items: center;
    gap:3rem;
}
.home-page-body-buttons{
    border-radius: 5px;
    background-color: rgb(178, 235, 216);
    padding:25px;
    box-shadow: 0px 0px 10px rgb(131, 219, 109);
}
.home-page-body-image img{
    width:400px;
    margin-bottom: 30px;
}
.home-page-body{
    width:500px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin:10px 0;
    padding:10px;
    border-radius: 10px;
    height:150px;
    background-color: rgb(120, 167, 165);
    box-shadow: 0px 0px 5px rgb(12, 12, 12);
}

.button p{
    font-size:30px;
    color:white;
}

a:hover{
    text-decoration: none;
}
/* amdin styles */


.login-container{
    box-shadow: 0px 0px 5px black;
}

.admin-container{
    height:50vh;
    display:grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(133, 134, 134);
    
    background-color: aliceblue;
}
.admin-container .box{
    display: grid;
    place-items: center;
    width:250px;
    gap:2rem;
    height:20vh;
    border-radius: 5px;
    background-color: rgb(150, 183, 187);
}

@media screen and (max-width:800px){
    .home-page{
        display: block;
    }
    .home-page-title{
        font-size: 30px;
    }
    .home-page-body{
        text-align: center;
    }
    .home-page-body-image img{
        width:200px;
    }
    .admin-container{
        height:fit-content;
        padding:20px 40px;
        gap:3rem;
        width:fit-content;

        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
}