<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Admin Home</title>
  </head>
  <body>
    <div class="container">
      <div class="home-page-title">
        <p>Admin Home</p>
        <div class="pt-1 mb-4">
          <a href="/">
            <button class="btn btn-dark btn-lg" type="button">Home</button>
          </a>
        </div>
      </div>
      <div class="container main">
        <p>Here you can Organize the Overall Attendance</p>
        <div class="admin-container">
          <div class="requests box">
            <p>To see the Requests</p>
            <a href="#"><button class="btn btn-danger">Click Here</button></a>
          </div>
          <div class="attendance box">
            <p>To see the Attendance</p>
            <div class="dropdown">
              <a href="#"
                ><button class="btn btn-success">Click Here</button></a
              >
              <div class="dropdown-content">
                <a href="#">Faculty</a>
                <a href="#">Student</a>
              </div>
            </div>
          </div>
          <div class="add-remove box">
            <p>To Add or Remove</p>
            <div class="dropdown">
              <a href="#"
                ><button class="btn btn-warning">Click Here</button></a
              >
              <div class="dropdown-content">
                <div class="faculty">
                  <p style=" background-color:rgb(161, 88, 88);">Faculty</p>
                  <a href="#">Add</a>
                  <a href="#">Remove</a>
                </div>
                <div class="student">
                  <p style=" background-color:rgb(133, 190, 133);">Student</p>
                  <a href="#">Add</a>
                  <a href="#">Remove</a>
                </div>
              </div>
              
            </div>
            
          </div>
          <!-- <div class="attendance box"></div>
            <div class="add-remove box"></div> -->
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
